h1
{
	color: purple;
	text-align: center;
	margin-top: 7%;

	
}

body
{
	background-color: yellow;
}

#logo
{
	height: 150px;
	width: 150px;
}

img 
{
	max-height: 400px;
	width: auto;
	max-width: 100%;
	height: auto;
}


#vaneline
{
	text-align: center;
	background-color: purple;
	align-content: center;
	width: 50%;
	margin:0 auto;
}

#post 
{
	text-align: center;
	background-color: white;
	border: solid;
	width:90%;
	margin:0 auto;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.double {
	text-shadow: 2px 2px 0 black;
}