h1
{
	color: purple;
	text-align: center;
	margin-top: 0%;
	font-size: 80px;
	
}

h2
{
	color: purple;
	text-align: center;
	margin-top: 0%;
	font-size: 40px;
}

#profile
{
	text-align: center;
}

body
{
	background-color: #FFFFE0;
}

#menu
{
	text-align: right;
}

label
{
	display: block;
	font: 1rem;
}

input, label
{
	margin: .4rem 0;
}

#search
{
	text-align: center;
}

.logo
{
	height: 150px;
	width: 150px;
	width: 50%
}

img, buttonPage
{
	height: auto;
	width: 20%;
}

img 
{
	max-height: 400px;
	max-width: 100%;
	height: auto;
}

input
{
	width: 41%;
}

#vaneline
{
	text-align: center;
	background-color: #DFD1E1;
	align-content: center;
	width: 50%;
	margin:0 auto;
	padding-top: 10px;
}

#post 
{
	text-align: center;
	background-color: #E2FCFB;
	border: solid;
	width:90%;
	margin:0 auto;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#tags
{
	text-align: left;
}

#reactions
{
	text-align: right;

}

.shadow 
{
	text-shadow: 2px 2px 0 black;
}

#console
{
	text-align: center;
	background-color: #E2FCFB;
	border: solid;
	width:90%;
	margin:0 auto;
	margin-bottom: 10px;
	padding-top: 10%;
	padding-bottom: 10%;
	padding-left: 10px;
	padding-right: 10px;
}

.formulaires
{
	text-align: center;
	background-color: #E2FCFB;
	border: solid;
	width: auto;
	height: auto;
	margin:0 auto;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;

}

.login
{
	text-align: center;
	background-color: #E2FCFB;
	border: solid;
	width: 40%;
	height: auto;
	margin: 0 auto;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;

}

#bitcoin
{
	text-align: center;
	font-size: 35px;
	background-color: #FFA2F2;
	border: solid;
	width:80%;
	height : 150px;
	margin:0 auto;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#formulairesMembre
{
	display: flex;
	justify-content: space-between;
}


#formulairesMessages
{
	display: flex;
	justify-content: space-between;
}
